@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sankofa+Display&display=swap");

.sidebar {
  display: flex;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  flex-direction: column;
  background-color: #111;
  overflow-x: hidden;
  transition: all ease-in-out 0.6s;
  padding-top: 60px;
}

.sidebar.active {
  width: 15em;
}

.bi.bi-list {
  font-size: 1.4em;
}

.sidebar a {
  border-radius: 0.4em;
  padding: 1em;
  margin: 1.2em 0.6em 0.8em;
  max-height: 4em;
  max-width: 75%;
  text-decoration: none;
  padding: 1em 1.4em 1.2em;
  color: #acacac;
  display: block;
  transition: all 0.6s ease-in-out;
}

.sidebar a:last-child {
  margin-top: auto;
}

.sidebar a:hover {
  background-color: #f1f1f1;
  color: black;
  font-weight: 600;
}

.sidebar span {
  cursor: pointer;
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Sidebar Darkmode */

.sidebar-darkmode, .sidebar-darkmode a {
  color: black;
  background-color: #ececec;
}

.sidebar-darkmode a:hover {
  background-color: #2c2c2c;
  color: rgb(216, 216, 216);
  font-weight: 600;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.navbar-toggler {
  border: none;
  color: white;
}

.navbar-toggler:hover {
  color: #ccc;
}